.pokedex-auth {
    position: relative;
    &:before {
        content: ' ';
        background: url('https://assets.pokemon.com/static2/_ui/img/chrome/dog-ears/default-dog-ear.png') no-repeat 0 0;
        height: 2em;
        position: absolute;
        width: 2em;
        z-index: 3;
        left: 0px;
        bottom: 0px;
        transform: rotate(270deg);
        }  
        &:after {
            content: ' ';
            background: url('https://assets.pokemon.com/static2/_ui/img/chrome/dog-ears/default-dog-ear.png') no-repeat 0 0;
            height: 2em;
            position: absolute;
            width: 2em;
            z-index: 3;
            right: 0px;
            bottom: 0px;
            transform: rotate(180deg);
            } 
        span {
            position: absolute;
            bottom: 0;
            width: 40%;
            height: 8px;
            background: white;
            &:after {
                content: "";
                background-color: #f3f4f6;
                height: 8px;
                position: absolute;
                width: 12px;
                z-index: 3;
                left: -5px;
                bottom: 5px;
                transform: rotate(136deg);
            }
            &:before {
                content: "";
                background-color: #f3f4f6;
                height: 8px;
                position: absolute;
                width: 12px;
                z-index: 3;
                right: -5px;
                bottom: 5px;
                transform: rotate(230deg);
            }
          
        }
}

.about-us-characters {
    z-index: 20;
    position: absolute;
    bottom: -124px;
    left: 248px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 443px;
}