<div class="poke-register">

    <p class="min-h-[146px]">
        Create a Pokémon Trainer Club account today! With a Pokémon Trainer Club account, you can manage your
        Pokemon.com profile, play the Pokémon Trading Card Game Online,
    </p>
    <div class="md:flex md:items-center justify-end">
        <button
            class="shadow bg-blue-400 hover:bg-blue-700 focus:shadow-outline focus:outline-none text-white py-2 px-4 rounded justify-end"
            type="button">
            Create Account!</button>
    </div>
</div>