

@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes swing {
    15% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    transition:all 0.2s ease;
    .pokemon-image {
        figure {
            background-attachment: fixed;
            background: #F2F2F2;
            float: left;
            display: block;
            position: relative;
            border-radius: 5px;
            margin: 0;
        }
    }
    h5 {
        font-family: 'Ubuntu', sans-serif;
        color: #313131;
        margin-bottom: 5px;
    }

    .pokemon-abilities {
        .pill {
            font-family: "Flexo-Medium",arial,sans-serif;
            border-radius: 3px;
            line-height: 18px;
            max-width: 110px;
            margin: 0 1.5625% 0 0;
            width: 38.4375%;
            float: left;
            text-transform: none;
            font-size: 11px;
            text-align: center;
        }
        @import "../../../constants.scss";
    }

    &:hover {
     -webkit-animation: swing 1s ease;
     animation: swing 1s ease;
     -webkit-animation-iteration-count: 1;
     animation-iteration-count: 1;
     cursor: pointer;
    }

}