
.pokemon-card {
    display: flex;
    flex-direction: column;
    .pokemon-image {
        figure {
            background-attachment: fixed;
            background: #F2F2F2;
            float: left;
            display: block;
            position: relative;
            border-radius: 5px;
            margin: 0;
        }
    }
    h5 {
        font-family: 'Ubuntu', sans-serif;
        color: #313131;
        margin-bottom: 5px;
    }

    .test{
        color: white;
    }

    .pokemon-abilities {
        .pill {
            font-family: "Flexo-Medium",arial,sans-serif;
            border-radius: 3px;
            line-height: 18px;
            max-width: 110px;
            margin: 0 1.5625% 0 0;
            width: 38.4375%;
            float: left;
            text-transform: none;
            font-size: 11px;
            text-align: center;
        }
        @import "../../../constants.scss";
    }

}