<div *ngIf="isLoading" class="loader-container">
  <svg class="pokeball-loader" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
    <circle cx="50" cy="50" r="48" fill="white" stroke="black" stroke-width="4"/>
    <path d="M2 50 Q2 2 50 2 Q98 2 98 50 Z" fill="#e3350d"/>
    <rect x="2" y="44" width="96" height="12" fill="black"/>
    <circle cx="50" cy="50" r="12" fill="white" stroke="black" stroke-width="4"/>
    <circle cx="50" cy="50" r="6" fill="white"/>
  </svg>
  <p class="loader-text">Loading Pokémon...</p>
</div>

<ul *ngIf="!isLoading && pokemonList && pokemonList.length > 0" class="pokemon-results">
    <li class="pokemon-figure" *ngFor="let pokemon of pokemonList">
        <pokemon-detail [detail]="pokemon"></pokemon-detail>
        <div class="pokemon-detail">
            <h5>{{pokemon.name}}</h5>
        </div>
    </li>
</ul>

<div *ngIf="!isLoading" class="load-more-container">
  <div *ngIf="isLoadingMore" class="loader-container loader-container--inline">
    <svg class="pokeball-loader pokeball-loader--small" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
      <circle cx="50" cy="50" r="48" fill="white" stroke="black" stroke-width="4"/>
      <path d="M2 50 Q2 2 50 2 Q98 2 98 50 Z" fill="#e3350d"/>
      <rect x="2" y="44" width="96" height="12" fill="black"/>
      <circle cx="50" cy="50" r="12" fill="white" stroke="black" stroke-width="4"/>
      <circle cx="50" cy="50" r="6" fill="white"/>
    </svg>
    <p class="loader-text">Loading more Pokémon...</p>
  </div>

  <button
    *ngIf="!isLoadingMore && hasMore"
    class="load-more-btn"
    (click)="onLoadMore()">
    Load More Pokémon
  </button>

  <p *ngIf="!isLoadingMore && !hasMore && pokemonList.length > 0" class="all-loaded-text">
    All Pokémon loaded!
  </p>
</div>
