<div class="flex">
    <div class="flex-1">
        <ul class="flex flex-wrap justify-center mx-auto" *ngIf="pokedexResults">
            <li class="pokemon-figure mx-3 mb-12" *ngFor="let pokemon of pokedexResults.results">
                <a>
                  <pokemon-card
                  (view)="handleView(pokemon)"
                  [detail]="pokemon"></pokemon-card>
               </a>
            </li>
        </ul>
       <!-- <div class="flex justify-center">
            <div class="blur-[2px] bg-slate-200 shadow-slate-50 w-[215px] h-[215px] mx-3 rounded-[5px]"></div>
            <div class="blur-[2px] bg-slate-200 shadow-slate-50 w-[215px] h-[215px] mx-3 rounded-[5px]"></div>
            <div class="blur-[2px] bg-slate-200 shadow-slate-50 w-[215px] h-[215px] mx-3 rounded-[5px]"></div>
            <div class="blur-[2px] bg-slate-200 shadow-slate-50 w-[215px] h-[215px] mx-3 rounded-[5px]"></div>
        </div> -->
    </div>
</div>

<router-outlet></router-outlet>