<h1 class="py-4 text-[175%] text-[#999999]">Welcome to the Pokémon Trainer Club!</h1>
<div class="flex flex-row relative">
    <div class="flex-1 pt-4 pb-2">
        <h1 class="text-[125%] text-[#919191]">Log In</h1>
        <div class="pokedex-auth flex flex-col flex-1 m-2 bg-gray-100 min-h-[365px] p-5">
            <pokedex-login></pokedex-login>
            <span class="self-center notch-bottom"></span>
        </div>
    </div>
    <div class="flex-1 pt-4 pb-2">
        <h1 class="text-[125%] text-[#919191]">Join the Pokémon Trainer Club!</h1>
        <div class="pokedex-auth flex flex-col flex-1 m-2 bg-gray-100 min-h-[290px] p-5">
            <pokedex-register></pokedex-register>
            <span class="self-center notch-bottom"></span>
        </div>
        <div class="about-us-characters absolute">
            <img src="https://assets.pokemon.com/static2/_ui/img/account/pokemon-login.png" alt="Characters" width="443" height="248">
        </div>
    </div>
</div>
